/* Variables */
:root {
  /* Color Palette */
  --arroyo-red: #ff0000;
  --arroyo-brown: #805050;
  --arroyo-dark-brown: #603030;
  --arroyo-beige: #c8bda8;
  --arroyo-dark-gray: #323030;
  --arroyo-light-gray: #aaa090;
  --arroyo-slate: #4e575f;

  /* Light Theme Colors */
  --arroyo-light-bg1: #d8d1cc;
  --arroyo-light-fg1: #203038;
  --arroyo-light-bg2: #709090;
  --arroyo-light-bg3: #80a0a0;

  /* Dark Theme Colors */
  --arroyo-dark-bg1: var(--arroyo-dark-gray);
  --arroyo-dark-fg1: var(--arroyo-light-gray);
  --arroyo-dark-bg2: var(--arroyo-slate);

  /* Accent Colors */
  --arroyo-light-accent-major: var(--arroyo-brown);
  --arroyo-light-accent-minor: var(--arroyo-dark-brown);
  --arroyo-dark-accent-major: var(--arroyo-beige);

  /* Text Colors */
  --arroyo-dark-text-faint: #809090;
  --arroyo-dark-text-muted: #d5d5c5;

  /* Heading Colors */
  --arroyo-dark-heading-1: #587074;
  --arroyo-dark-heading-2: #448888;
  --arroyo-dark-heading-3: #5b8060;
  --arroyo-dark-heading-4: #808060;
  --arroyo-dark-heading-5: #707070;
  --arroyo-dark-heading-6: #505050;

  --arroyo-light-heading-1: #880000;
  --arroyo-light-heading-2: #206040;
  --arroyo-light-heading-3: #884400;
  --arroyo-light-heading-4: #004466;
  --arroyo-light-heading-5: #004400;
  --arroyo-light-heading-6: #008888;

  /* Link Colors */
  --arroyo-dark-link: #80b0a8;
  --arroyo-dark-link-hover: #ffff00;
  --arroyo-light-link: #006060;
  --arroyo-light-link-hover: #000088;

  /* UI Colors */
  --arroyo-dark-highlight: #555555;
  --arroyo-dark-selection: #501818;
  --arroyo-light-highlight: #00888844;
  --arroyo-light-selection: #0088ff44;

  /* Table Colors */
  --arroyo-dark-table-header: #282828;
  --arroyo-dark-table-row-even: #3d3d3d;
  --arroyo-dark-table-row-odd: #383838;
  --arroyo-light-table-header: #00808040;
  --arroyo-light-table-row-even: #aaccbb60;
  --arroyo-light-table-row-odd: #eeeedd30;

  /* Fonts */
  --arroyo-font-main: "Atkinson Hyperlegible", "Ubuntu";
  /* --arroyo-font-main: "Ubuntu"; */
  --arroyo-font-mono: "Ubuntu Mono";


}

/* Theme Base Styles */
.theme-dark {
  --background-primary: var(--arroyo-dark-bg1);
  --background-secondary: var(--arroyo-dark-bg2);
  --text-normal: var(--arroyo-dark-fg1);
  --text-faint: var(--arroyo-dark-text-faint);
  --text-muted: var(--arroyo-dark-text-muted);
  --text-accent: var(--arroyo-dark-link);
  --text-accent-hover: var(--arroyo-dark-link-hover);
  --interactive-accent: var(--arroyo-dark-accent-major);
  --background-modifier-border: var(--arroyo-dark-bg2);
  --arroyo-countershade-01: #ffffff10;
  --arroyo-countershade-04: #ffffff48;
  --arroyo-countershade-alt-01: #c8bda810;
  --arroyo-countershade-alt-04: #c8bda848;
}

.theme-light {
  --background-primary: var(--arroyo-light-bg1);
  --background-secondary: var(--arroyo-light-bg2);
  --background-secondary-alt: var(--arroyo-light-bg3);
  --text-normal: var(--arroyo-light-fg1);
  --text-faint: var(--arroyo-light-accent-major);
  --text-muted: var(--arroyo-light-accent-minor);
  --text-accent: var(--arroyo-light-link);
  --text-accent-hover: var(--arroyo-light-link-hover);
  --interactive-accent: var(--arroyo-light-accent-major);
  --background-modifier-border: var(--arroyo-light-bg2);
  --arroyo-countershade-01: #00000010;
  --arroyo-countershade-04: #00000048;
  --arroyo-countershade-alt-01: #60303010;
  --arroyo-countershade-alt-04: #60303048;

  /* Code Colors */
  /* --code-normal: #60a8a0; */
  --code-size: var(--font-smaller);
  --code-background: var(--background-primary-alt);
  --code-background: #40505020;
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-function: var(--color-yellow);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-pink);
  --code-property: var(--color-blue);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-green);
  --code-tag: var(--color-red);
  --code-value: var(--color-purple);
}

/* Typography */
body {
  --font-text: var(--arroyo-font-main);
  --font-monospace: var(--arroyo-font-mono);
  font-family: var(--font-text);
  --line-height-normal: 1.2;
  --line-height-tight: 1;
}
body {
    --blockquote-color: #500080;
}

/* Tags */
body {
  /* --tag-background: #00000000; */
  /* --tag-border-width: 0px; */
  /* --tag-border-color: var(--background-primary); */
  /* --tag-color: var(--text-accent); */
  --tag-color: var(--text-muted);
  /* --tag-size: 0.8rem; */
  /* --tag-weight: 540; */
  /* --tag-decoration: none; */
  --tag-padding-y: 0.22em;
  --tag-padding-x: 0.5em;
}

a.cm-hashtag,
a.tag {
    line-height: 1.8 !important;
}

h1, h2, h3, h4, h5, h6,
.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6 {
  font-variant: normal !important;
}

.theme-dark {
  --h1-color: var(--arroyo-dark-heading-1);
  --h2-color: var(--arroyo-dark-heading-2);
  --h3-color: var(--arroyo-dark-heading-3);
  --h4-color: var(--arroyo-dark-heading-4);
  --h5-color: var(--arroyo-dark-heading-5);
  --h6-color: var(--arroyo-dark-heading-6);
}

.theme-light {
  --h1-color: var(--arroyo-light-heading-1);
  --h2-color: var(--arroyo-light-heading-2);
  --h3-color: var(--arroyo-light-heading-3);
  --h4-color: var(--arroyo-light-heading-4);
  --h5-color: var(--arroyo-light-heading-5);
  --h6-color: var(--arroyo-light-heading-6);
}

/* Headings */
h2::before { content: '⫼⫼' "\0000a0"; }
h3::before { content: '⫼⫼⫼' "\0000a0"; }
h4::before { content: '⫼⫼⫼⫼' "\0000a0"; }
h5::before { content: '⫼⫼⫼⫼⫼' "\0000a0"; }
h6::before { content: '⫼⫼⫼⫼⫼⫼' "\0000a0"; }

/* Links */
a, .cm-formatting-link, .cm-link {
  font-size: 90%;
  font-weight: 100;
    text-decoration: dotted 1px;
}

.cm-hmd-internal-link:not(.cm-link-alias):not(.cm-link-alias-pipe),
.cm-url {
  font-size: 90%;
  font-weight: 100;
  text-decoration: dotted 1px;
}

/* Code */
.markdown-rendered pre,
pre {
  padding: 1rem;
}

pre code,
.markdown-rendered code,
.markdown-rendered pre code,
code[class*="language-"] {
  padding: 0.25rem;
}

.cm-math {
  color: #886666 !important;
  font-weight: bold;
}

.cm-formatting-math {
  color: #990000 !important;
  font-weight: bold !important;
}

/* UI Elements */
.inline-title {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
  background: var(--interactive-accent);
  color: var(--background-primary);
  border: solid 0.5rem var(--background-primary);
}

/* Callouts */
.callout {
  --callout-color: 40, 20, 20;
  margin: 2rem auto;
  border-radius: 0.6rem;
  border: solid 0.5px var(--interactive-accent);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 1rem;
}

.callout-title {
  padding-bottom: 0.5rem;
  border-bottom: solid 2px var(--interactive-accent);
  font-weight: 750;
  font-size: 1rem;
  color: var(--interactive-accent);
}

/* Tables */
.markdown-rendered tbody tr:nth-child(even) {
  background-color: var(--table-row-even-background) !important;
}

.markdown-rendered tbody tr:nth-child(odd) {
  background-color: var(--table-row-odd-background) !important;
}

/* File Explorer */
.nav-folder:not(.mod-root) .nav-folder-title-content::before {
  content: "🖿";
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-bottom;
  height: 15px;
  width: 15px;
}

.nav-file:not(.mod-root) .nav-file-title-content::before {
  content: "☰";
  display: inline-block;
  margin-left: 2px;
  margin-right: 3px;
  vertical-align: text-bottom;
  height: 15px;
  width: 15px;
}

/* Workspace */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  width: 4px;
  background-color: var(--arroyo-countershade-04);
}

.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 3px;
  background-color: var(--arroyo-countershade-04);
}

/* Active Line */
.theme-dark .cm-active.cm-line {
  background-color: #ff990018;
  border-radius: 0.2rem;
  border-top: #ffffff33 solid 1px;
  border-bottom: #ffffff33 solid 1px;
}

.theme-light .cm-active.cm-line {
  background-color: #80505018;
  border-radius: 0.2rem;
  border-top: #00000033 solid 1px;
  border-bottom: #00000033 solid 1px;
}

/* Gutters */
.markdown-source-view.mod-cm6 .cm-gutters .cm-lineNumbers {
  overflow: visible;
  font-size: 0.8em;
  font-weight: bold;
}

.markdown-source-view.mod-cm6 .cm-gutters .cm-lineNumbers .cm-gutterElement {
  background: #66888888;
  color: var(--background-primary);
  border: solid 1px var(--background-primary);
  text-align: center;
}

.markdown-source-view.mod-cm6 .cm-gutters .cm-lineNumbers .cm-gutterElement.cm-active {
  background: #805050cc;
  color: var(--background-primary);
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    --line-height-normal: 1.4;
    --line-height-tight: 1.2;
  }

  .callout {
    margin: 1rem auto;
  }
}



.markdown-rendered blockquote {
    border-inline-start-width: 0.5em;
    border-inline-start-color: #50008030;;
    padding-left: 1rem;
    margin-left: 0.5rem;
    /* padding-right: 1rem; */
    margin-right: 0.5rem;
}

.HyperMD-quote {
    /* border-left: solid 2px var(--blockquote-color); */
    /* box-shadow: -10px 0px 10px 1px #aaaaaa; */
    /* box-shadow: 0px 0px 10px #232931; */
    box-shadow: inset 0.5rem 0 0 0 #50008030;
    background: var(--arroyo-countershade-01);
}

.HyperMD-quote .cm-quote {
    font-style: oblique;
    /* font-style: italic; */
}
