
/*
 * Reference: <https://docs.obsidian.md/Reference/CSS+variables/CSS+variables>
 */

:root {
    --icon-color: #ff0000;
    /* --arroyo-light-accent-major: #805050; */
    --arroyo-light-accent-major: #805050;
    /* --arroyo-light-accent-major: #c04000; */
    /* --arroyo-light-accent-major: #c04000; /1* mahagoney *1/ */
    /* --arroyo-light-accent-major: #670a0a; /1* mahagoney red *1/ */
    --arroyo-light-accent-minor: #603030;
    /* --arroyo-dark-accent-major: #ff9900; */
    --arroyo-dark-accent-major: #ff9900;
    --arroyo-dark-accent-major:       #c8bda8;
    /* --arroyo-accent-major:       #ff9900; */
    /* --arroyo-accent-major:       #c8bda8; */
    /* --tab-font-weight: 700; */
    /* --tab-stacked-font-weight: 700; */
}

/* Dark Scheme Color Definitions {{{1 */

:root
{
    --arroyo-dark-bg1                  : #323030; /* background main */
    --arroyo-dark-fg1                  : #c0b088; /* text */
    --arroyo-dark-fg1                  : #aaa090; /* text */
    --arroyo-dark-bg2                  : #4e575f; /* menu background and border */

    --arroyo-dark-text-normal          : var(--arroyo-dark-fg1); /* text */
    --arroyo-dark-text-faint           : #809090; /* '--text-faint' in main body, stroke, arrow, list, bullet point, etc. */
    --arroyo-dark-text-muted           : #d5d5c5; /* menu/interface text */

    --arroyo-dark-text-heading-h1      : #587074;
    --arroyo-dark-text-heading-h2      : #448888;
    --arroyo-dark-text-heading-h3      : #5b8060;
    --arroyo-dark-text-heading-h4      : #808060;
    --arroyo-dark-text-heading-h5      : #707070;
    --arroyo-dark-text-heading-h6      : #505050;

    /* --arroyo-dark-text-heading-h1      : #427b58; */
    /* --arroyo-dark-text-heading-h2      : #448888; */
    /* --arroyo-dark-text-heading-h3      : #5b8060; */
    /* --arroyo-dark-text-heading-h4      : #808060; */
    /* --arroyo-dark-text-heading-h5      : #667070; */
    /* --arroyo-dark-text-heading-h6      : #505050; */

    --arroyo-dark-text-highlight-bg    : #555555;
    --arroyo-dark-text-selection       : #501818;
    --arroyo-dark-text-highlight-fg    : none;
    --arroyo-dark-text-accent          : #80b0a8; /* links */
    --arroyo-dark-text-accent-hover    : #ffff00; /* links */

    --arroyo-dark-code-fg              : #60a8a0;
    --arroyo-dark-code-bg              : #282424;

    --arroyo-dark-tag-color            : #888888;
    --arroyo-dark-tag-background       : #202020;
    --arroyo-dark-tag-background-hover : #000000;

    --arroyo-dark-checkbox-fg          : var(--arroyo-dark-text-faint);
    --arroyo-dark-checkbox-done-fg     : var(--arroyo-dark-text-muted);

    --arroyo-dark-icon-hover           : red;
    --arroyo-dark-icon-focused         : red;

    --arroyo-dark-frame-accent-bg         : #484c50;
    --arroyo-dark-heading-accent-bg         : #2a2828;

    --arroyo-dark-table-row-even-background: #3d3d3d;
    --arroyo-dark-table-row-odd-background:  #383838;
    --arroyo-dark-table-row-background-hover: var(--arroyo-dark-text-highlight-bg);
    --arroyo-dark-table-header-background: #282828;
    /* --arroyo-dark-table-header-background: var(--arroyo-dark-bg2); */
    /* --arroyo-dark-table-header-background: #101010; */
    --arroyo-dark-table-header-background-hover: var(--arroyo-dark-table-header-background);
}

/* }}}1 */

/* Dark Theme Base {{{1 */

.theme-dark
{
    --arroyo-accent-major:           var(--arroyo-dark-accent-major);
    --arroyo-accent-minor:           var(--arroyo-dark-accent-minor);
    --background-primary:            var(--arroyo-dark-bg1);
    --background-primary-alt:        var(--arroyo-dark-bg1);
    --background-secondary:          var(--arroyo-dark-bg2);
    --background-secondary-alt:      var(--arroyo-dark-bg2);
    --arroyo-frame-accent-bg:     var(--arroyo-dark-frame-accent-bg);
    --background-modifier-border:    var(--arroyo-frame-accent-bg);
    --arroyo-heading-accent-bg: var(--arroyo-dark-heading-accent-bg);


    --cursor-line-background:        var(--arroyo-dark-graph-line);
    /* --divider-color:                 var(--arroyo-dark-graph-line); */

    --text-normal:                   var(--arroyo-dark-fg1);
    --text-faint:                    var(--arroyo-dark-text-faint);
    --text-muted:                    var(--arroyo-dark-text-muted);

    --h1-color:                      var(--arroyo-dark-text-heading-h1);
    --h2-color:                      var(--arroyo-dark-text-heading-h2);
    --h3-color:                      var(--arroyo-dark-text-heading-h3);
    --h4-color:                      var(--arroyo-dark-text-heading-h4);
    --h5-color:                      var(--arroyo-dark-text-heading-h5);
    --h6-color:                      var(--arroyo-dark-text-heading-h6);

    --text-highlight-bg:             var(--arroyo-dark-text-highlight-bg);
    --text-highlight-fg:             var(--arroyo-dark-text-highlight-fg);

    --text-accent:                   var(--arroyo-dark-text-accent);
    --text-accent-hover:             var(--arroyo-dark-text-accent-hover);

    --tag-color:                     var(--arroyo-dark-tag-color);
    --tag-background:                var(--arroyo-dark-tag-background);
    --tag-background-hover:          var(--arroyo-dark-tag-background-hover);

    --titlebar-text-color-focused:   var(--arroyo-dark-titlebar-focused-text-fg);

    --inline-title-color:            var(--arroyo-dark-inline-title-fg);

    --bold-color:                    var(--text-normal);
    --italic-color:                  var(--text-normal);

    --checkbox-color:                var(--arroyo-dark-checkbox-fg);
    --checkbox-color-hover:          var(--arroyo-dark-checkbox-fg);
    --checkbox-border-color:         var(--arroyo-dark-checkbox-fg);
    --checkbox-border-color-hover:   var(--arroyo-dark-checkbox-fg);
    --checklist-done-color:          var(--arroyo-dark-checkbox-donoe-fg);

    --table-header-background:       var(--arroyo-dark-table-header-background);
    --table-row-even-background:          var(--arroyo-dark-table-row-even-background);
    --table-row-odd-background:          var(--arroyo-dark-table-row-odd-background);

    --text-selection:                var(--arroyo-dark-text-selection);

    --code-normal:                   var(--arroyo-dark-code-fg);
    --code-background:               var(--arroyo-dark-code-bg);

    --icon-color-hover:              var(--arroyo-dark-item-hover);
    --icon-color-focused:            var(--arroyo-dark-item-focused);

    --nav-item-color-hover:          var(--arroyo-dark-nav-item-active);
    --nav-item-color-active:         var(--arroyo-dark-nav-item-active);
    --nav-file-tag:                  var(--arroyo-dark-nav-file-tag);

    --graph-line:                    var(--arroyo-dark-graph-line);
    --graph-node:                    var(--arroyo-dark-graph-node);
    --graph-node-tag:                var(--arroyo-dark-graph-node-tag);
    --graph-node-attachment:         var(--arroyo-dark-graph-node-attachement);

    --tab-text-color-focused-active:         var(--arroyo-dark-tab-focused-active-fg);
    --tab-text-color-focused-active-current: var(--arroyo-dark-tab-focused-active-current-fg);

    /* --background-modifier-border: #f2e5bc;*/
    /* --background-modifier-form-field: rgba(0, 0, 0, 0.2);*/
    /* --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);*/
    /* --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);*/
    /* --background-modifier-success: #197300; /*no sure*/*/
    /* --background-modifier-error: #3d0000; /*no sure*/*/
    /* --background-modifier-error-rgb: 61, 0, 0;*/
    /* --background-modifier-error-hover: #470000;*/
    /* --background-modifier-cover: rgba(0, 0, 0, 0.6);*/
}

/* }}}1 */

/* Light Scheme Color Definitions {{{1 */

:root
{
    /* --arroyo-accent-major:                        #663333; */
    /* --arroyo-accent-major:                        #604040; */
    /* --arroyo-accent-major:                        #583838; */
    /* --arroyo-light-bg1                           : #c4b4a8; /1* background main *1/ */
    /* --arroyo-light-bg1                           : #d4c4b8; /1* background main *1/ */
    /* --arroyo-light-bg1                           : #eeeedd; /1* background main *1/ */
    /* --arroyo-light-bg1                           : #e0e0d0; /1* background main *1/ */
    /* --arroyo-light-bg1                           : #e0dad0; /1* background main *1/ */
    /* --arroyo-light-bg1                           : #d0d8cc; /1* background main *1/ */
    /* --arroyo-light-bg1                           : #d8d8cc; /1* background main *1/ */
    --arroyo-light-bg1                           : #d8d1cc; /* background main */
    /* --arroyo-light-bg1                           : #d0c0b4; /1* background main *1/ */
    --arroyo-light-fg1                           : #203038; /* text */
    /* --arroyo-light-bg2                           : #446666; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #668890; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #206070; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #608080; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #608080; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #608080; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #809090; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #809890; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #688888; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #709090; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #609090; /1* menu background and border *1/ */
    --arroyo-light-bg2                           : #709090; /* menu background and border */
    --arroyo-light-bg3                           : #80a0a0; /* menu background and border */
    /* --arroyo-light-bg2                           : #608888; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #509090; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #409090; /1* menu background and border *1/ */
    /* --arroyo-light-bg2                           : #306070; /1* menu background and border *1/ */

    --arroyo-light-text-normal                   : var(--arroyo-light-fg1); /* text */

    --arroyo-light-text-heading-fg               : var(--arroyo-light-bg2);

    /* --arroyo-light-text-heading-h1               : #882828; */
    /* --arroyo-light-text-heading-h2               : #004400; */
    /* --arroyo-light-text-heading-h3               : #994400; */
    /* --arroyo-light-text-heading-h4               : #006699; */
    /* --arroyo-light-text-heading-h5               : #006600; */
    /* --arroyo-light-text-heading-h6               : #880044; */

    /* --arroyo-light-text-heading-h1               : #600066; */
    --arroyo-light-text-heading-h1               : #880000;
    --arroyo-light-text-heading-h2               : #206040;
    --arroyo-light-text-heading-h3               : #884400;
    /* --arroyo-light-text-heading-h4               : #662266; */
    --arroyo-light-text-heading-h4               : #004466;
    /* --arroyo-light-text-heading-h4               : #005566; */
    --arroyo-light-text-heading-h5               : #004400;
    --arroyo-light-text-heading-h6               : #008888;

    /* --arroyo-light-text-heading-h1               : #206070; */
    /* --arroyo-light-text-heading-h2               : #206070; */
    /* --arroyo-light-text-heading-h3               : #206070; */
    /* --arroyo-light-text-heading-h4               : #206070; */
    /* --arroyo-light-text-heading-h5               : #206070; */
    /* --arroyo-light-text-heading-h6               : #206070; */

    --arroyo-light-text-highlight-bg             : #00888844;
    --arroyo-light-text-highlight-fg             : none;
    /* --arroyo-light-text-accent                   : #014b70; /1* links *1/ */
    /* --arroyo-light-text-accent                   : #006666; /1* links *1/ */
    --arroyo-light-text-accent                   : #006060; /* links */
    --arroyo-light-text-accent-hover             : #000088; /* links */

    --arroyo-light-text-selection-bg             : #0088ff44;
    --arroyo-light-inline-title-fg               : none; /* set below */

    --arroyo-light-tab-focused-active-fg         : #fff0a0;
    --arroyo-light-tab-focused-active-current-fg : var(--arroyo-light-bg2);

    --arroyo-light-titlebar-focused-text-fg      : #ffffff;

    --arroyo-light-icon-hover                    : red;
    --arroyo-light-icon-focused                  : red;

    /* --arroyo-light-text-table-header-bg          : #ebcb8b10; */
    /* --arroyo-light-text-table-row-bg             : #ebcb8b10; */
    /* --arroyo-light-table-header-background       : #28282844; */
    /* --arroyo-light-table-row-odd-background      : #ffffff18; */
    /* --arroyo-light-table-row-even-background     : #66666618; */
    /* --arroyo-light-table-row-background-hover: var(--arroyo-light-text-highlight-bg); */
    /* --arroyo-light-table-header-background-hover: var(--arroyo-light-table-header-background); */
    /* --arroyo-light-table-header-background       : peru; */
    --arroyo-light-table-header-background       : #00808040;
    --arroyo-light-table-row-odd-background      : #eeeedd30;
    --arroyo-light-table-row-even-background     : #aaccbb60;
    /* --arroyo-light-table-row-background-hover: var(--arroyo-light-text-highlight-bg); */
    --arroyo-light-table-row-background-hover: #ffffff88;
    /* --arroyo-light-table-header-background-hover: var(--arroyo-light-table-header-background); */

    --arroyo-light-nav-item-active               : #bbb098;
    --arroyo-light-nav-item-hover                : #bcb290;
    --arroyo-light-graph-line                    : #585858; /* graph line */
    --arroyo-light-graph-node                    : #585858; /* graph line */
    --arroyo-light-graph-node-tag                : #585858; /* graph line */
    --arroyo-light-graph-node-attachment         : #585858; /* graph line */

    --arroyo-light-checkbox-fg                   : var(--arroyo-light-text-faint);
    --arroyo-light-checkbox-done-fg              : var(--arroyo-light-text-muted);

    --arroyo-light-frame-accent-bg         : #484c50;
}

/* }}}1 */

/* Light Theme Base {{{1 */

.theme-light
{
    --arroyo-accent-major:           var(--arroyo-light-accent-major);
    --arroyo-accent-minor:           var(--arroyo-light-accent-minor);
    --background-primary:            var(--arroyo-light-bg1);
    --background-primary-alt:        var(--arroyo-light-bg1);
    --background-secondary:          var(--arroyo-light-bg2);
    /* --background-secondary:          #608078; */
    /* --background-secondary:          #607880; */
    /* --background-secondary:          #607878; */
    /* --background-secondary:          #608078; */
    --maya-earth-green-background-secondary:          #78866B;
    --background-secondary-alt:      var(--arroyo-light-bg3);
    --background-modifier-border:    var(--arroyo-light-bg2);





    --cursor-line-background:        var(--arroyo-light-graph-line);
    --text-normal:                   var(--arroyo-light-fg1);
    --text-faint:                    var(--arroyo-accent-major);
    --text-muted:                    var(--arroyo-accent-minor);

    --h1-color:                      var(--arroyo-light-text-heading-h1);
    --h2-color:                      var(--arroyo-light-text-heading-h2);
    --h3-color:                      var(--arroyo-light-text-heading-h3);
    --h4-color:                      var(--arroyo-light-text-heading-h4);
    --h5-color:                      var(--arroyo-light-text-heading-h5);
    --h6-color:                      var(--arroyo-light-text-heading-h6);

    --text-highlight-bg:             var(--arroyo-light-text-highlight-bg);
    --text-highlight-fg:             var(--arroyo-light-text-highlight-fg);

    --text-accent:                   var(--arroyo-light-text-accent);
    --text-accent-hover:             var(--arroyo-light-text-accent-hover);

    /* --tag-color:                     var(--text-mute); */
    /* --tag-background:                var(--background-secondary); */
    /* --tag-background-hover:          var(--background-secondary); */

    --titlebar-text-color-focused:   var(--arroyo-light-titlebar-focused-text-fg);

    --inline-title-color:            #440000;

    --bold-color:                    #880000;
    --italic-color:                  #880000;




    --checkbox-color:                var(--text-muted);
    --checkbox-color-hover:          var(--text-muted);
    --checkbox-border-color:         var(--text-muted);
    --checkbox-border-color-hover:   var(--text-muted);
    --checklist-done-color:          var(--text-muted);

    --table-header-background:       var(--arroyo-light-table-header-background);
    /* --table-header-background-hover: var(--arroyo-light-table-header-background-hover); */
    --table-row-even-background:          var(--arroyo-light-table-row-even-background);
    --table-row-odd-background:          var(--arroyo-light-table-row-odd-background);
    /* --table-row-background-hover:    var(--arroyo-light-table-row-background-hover); */

    --text-selection:                var(--arroyo-light-text-selection-bg);

    --code-normal:     var(--text-normal);
    --code-background: #ffffff28;
    --code-comment:    #696d70;
    --code-function:   #226622;
    --code-keyword:    #006099;
    --code-operator:   #000000;
    --code-property:   #008bff;
    --code-string:     #336633;
    --code-tag:        #226622;
    --code-value:      #0000ff;
    --code-variable:   #696d70;

    /* --code-function: #c0d700; */
    /* --code-keyword:  #da7dae; */
    /* --code-normal:   #f39b35; */
    /* --code-operator: #fc4384; */
    /* --code-property: #d4d4d4; */
    /* --code-string:   #e6db74; */
    /* --code-tag:      #fc4384; */
    /* --code-value:    #a06fca; */

    --icon-color:                    var(--arroyo-accent-minor);
    /* --icon-color:                    #ff9900; */

    --nav-item-color-hover:          var(--arroyo-light-nav-item-hover);
    --nav-item-color-active:         var(--arroyo-light-nav-item-active);
    --nav-file-tag:                  var(--arroyo-light-nav-file-tag);

    --graph-line:                    var(--arroyo-light-graph-line);
    --graph-node:                    var(--arroyo-light-graph-node);
    --graph-node-tag:                var(--arroyo-light-graph-node-tag);
    --graph-node-attachment:         var(--arroyo-light-graph-node-attachement);

    --tab-text-color-focused-active:         var(--arroyo-light-tab-focused-active-fg);
    --tab-text-color-focused-active-current: var(--arroyo-light-tab-focused-active-current-fg);
    --arroyo-frame-accent-bg: var(--arroyo-light-frame-accent-bg);
    --arroyo-heading-accent-bg: var(--arroyo-light-heading-accent-bg);
    /* --background-modifier-border: #f2e5bc; */
}

/* }}}1 */

/* Fonts {{{ */

/* }}} */

/* Body {{{1 */

body
{
    /* UI Widget Buttons etc. */
    --accent-h: 0;
    --accent-s: 20%;
    --accent-l: 30%;


    --line-height-normal: 1.6;
    --line-height-tight: 1.4;

    --link-decoration:                none;
    --link-decoration-hover:          underline;
    --link-external-decoration:       none;
    --link-external-decoration-hover: underline;

    /* --tag-decoration:                 none; */
    /* --tag-decoration-hover:           underline; */
    /* --tag-padding-x:                  .5em; */
    /* --tag-padding-y:                  .2em; */
    /* --tag-radius:                     .5em; */

    --icon-color:                    var(--arroyo-accent-minor);
    --code-radius: 1rem;
}




/* }}} */




/*
 * Indicator {{{
 */

.heading-collapse-indicator, .cm-fold-indicator .collapse-indicator {
  opacity: 1 !important;
}
.heading-collapse-indicator {
  position: relative;
  margin-top: -1.6rem;
}
/* }}} */

/* Fonts {{{ */

:root {
    --arroyo-standard-font: "Ubuntu";
}


body
{
    /* UI Widget Buttons etc. */
    font-family         : var(--arroyo-standard-font);
    --font-text           : var(--arroyo-standard-font);
    --font-interface      : var(--arroyo-standard-font);
    --font-text-theme     : var(--arroyo-standard-font);
    --font-interface-theme: var(--arroyo-standard-font);
    --font-editor-theme   : var(--arroyo-standard-font);
    --h1-font             : var(--arroyo-standard-font);
    --h2-font             : var(--arroyo-standard-font);
    --h3-font             : var(--arroyo-standard-font);
    --h4-font             : var(--arroyo-standard-font);
    --h5-font             : var(--arroyo-standard-font);
    --h6-font             : var(--arroyo-standard-font);
    --font-monospace-theme: "Ubuntu Mono";
}

/* Source and live preview */
.markdown-source-view.mod-cm6 .cm_scroller
{
    /* --font-text: "Ubuntu Mono"; */
    /* --font-text: "Ubuntu Mono"; */
    --line-height-normal: 1.3;
    --line-height-tight: 1.0;
}

/* Live preview only */
.is-live-preview,
/* Reading mode */
.markdown-preview-view
{
    --line-height-normal: 1.175;
    --line-height-tight: 0.8;
}

/* }}} */

/* Basic elements {{{ */
hr {
    border-radius: 0.2rem;
    border-top: solid 0.25rem var(--arroyo-light-accent-major) !important;
}

.cm-hr {
    display: initial;
    color: initial;
    background-color: initial;
    opacity: initial;
    padding-top: initial;
    padding-bottom: initial;
    padding-left: initial;
    padding-right: initial;
    /* line-height: 0.8; */
    border-radius: initial;
}

.cm-hr {
    display: block;
    border-radius: 0.2rem;
    text-align: center;
    background: var(--arroyo-light-accent-major);
    color: var(--background-primary);
    margin: auto;
    padding-bottom: 0.15rem;
    line-height: 0.1rem;
    font-weight: 900;
}
/* }}} */

/* Inline title {{{ */


.inline-title {
    background: var(--arroyo-accent-major);
    border-left: 0.5px solid;
    border-radius: 1rem;
    border-right: 0.5px solid;
    border: none;
    border: solid 0.5rem var(--background-primary);
    color: var(--background-primary);
    font-size: 20px;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    text-align: center;
    text-align: center;
    width: 100%;
}

/* }}} */

/* Frontmatter/Properties {{{ */

/* YAML frontmatter outer container in reading mode */

.theme-light .metadata-container {
    background: var(--background-primary);
    filter: brightness(96%);
    border-radius: 0.6rem;
}
.theme-dark .metadata-container {
    filter: brightness(110%);
}

.metadata-properties-heading {
    width: 100%;
}

.metadata-properties-heading .collapse-indicator
{
    opacity: 1.0;
}

.metadata-properties-title {
    font-size: 0.8rem;
    font-family: monospace;
    /* font-weight: 600; */
    /* font-style: italic; */
    /* font-variant: small-caps; */
}

.multi-select-pill-content {
    line-height: 1rem;
}
.multi-select-pill-remove-button {
}

/* YAML frontmatter label in source mode */
span.cm-atom.cm-hmd-frontmatter,
/* YAML frontmatter label in preview mode */
.frontmatter-section-label,
/* YAML frontmatter icon in reading mode */
.metadata-property-icon,
.metadata-property-key-input {
    /* color: var(--text-faint) !important; */
    /* color: #440000 !important; */
    /* color: var(--background-secondary); */
    font-weight: bolder !important;
}


/* }}} */

/* Special Overrides {{{1 */

/* Interface {{{2 */

/* hash tags in headers */
.cm-formatting-header {
    /* color: #00000044; */
    color: var(--background-secondary);
}


/* }}}2 */

/* UI {{{2 */

/* .theme-light .modal-close-button { */
/*     color: var(--background-secondary); */
/* } */
/* .theme-light .mod-community-modal .modal-close-button { */
/*     color: var(--background-primary); */
/* } */
/* }}}2 */

/* collapse/uncoollapse markers {{{2 */

/* little arrows in the native file explorer AND to collapse/uncollapse headings, lists, etc. */
.right-triangle path
{
  stroke-linecap="round";
  /* filter: opacity(60%); */
  /* stroke: #442020 !important; */
  /* stroke: #008888 !important; */
  /* stroke: #fff000 !important; */
  /* stroke-width: 6 !important; */
  /* stroke-linecap="round"; */
  /* stroke: var(--background-primary); */
}

.mod-right-split .right-triangle path {
  /* stroke: #00bbbb !important; */
}

/* }}}2 */

/* file explorer {{{2 */

/* more compact */
/* .nav-file-title, */
/* .nav-folder-title { */
/*   font-size: 16px; */
/*   padding: 0px 14px 0px 20px; */
/* } */


/* little arrows in the native file explorer (only) */
.nav-files-container .right-triangle
{
}

.nav-files-container .right-triangle path
{
  /* stroke: #008888 !important; */
}

.theme-light .nav-folder-title {
    font-weight: normal;
    color: var(--background-primary) !important;
}

.theme-dark .nav-folder-title {
    font-weight: normal;
    /* color: var(--background-primary) !important; */
    /* color: #c8c888; */
    /* color: #201000; */
    /* color: #b8b878; */
    /* color: #78b8c8; */
    /* color: #c8b878; */
    /* color: var(--text-normal) !important; */
    /* color: var(--text-normal) !important; */
    color: #c0b088;
}


.theme-light .nav-file-title {
    border-radius: 10px;
    color: #d5d5c5 !important;
}

.nav-file .is-active {
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 2px;
    /* padding-left: 10px; */
    padding-right: 10px;
    /* margin-left: 10px; */
    border: solid 0.5px;
}

.is-active .nav-file-title-content {
    font-style: italic;
}

/* file xplor : smaller & bold vault title */
.nav-folder.mod-root > .nav-folder-title {
  padding-left: 6px;
  font-size: 14px;
  font-weight: bolder;
  top: -6px;
  cursor: default;
  /* border: solid 1px red; */
}

/* }}}2 */

/* ribbons / frame {{{2 */

.side-dock-ribbon.mod-left {
    /* background: #00000000 !important; */
  /* background: #888480 !important; */

  background: var(--background-secondary) !important;

  /* opacity: 0.5; */
    /* border-right: solid #55ffff55 1px; */
}

.side-dock-ribbon > * {
  /* filter: opacity(60%); */
}

.workspace-ribbon-collapse-btn {
}
.workspace-ribbon.is-collapsed .workspace-ribbon-collapse-btn {
}
.workspace-ribbon-collapse-btn:hover {
}


/* .logo-full, */
/* .logo-wireframe, */
/* .titlebar-button-container, */
/* .titlebar-button-container.mod-left, */
/* .titlebar-button.mod-logo { */
/*   color: white; */
/*   background: red !important; */
/*   filter: opacity(100%); */
/*   border: solid 1px red; */
/*   stroke: white; */
/* } */

/* .workspace-ribbon.side-dock-ribbon.mod-right { */
/*   border-left: solid 2px var(--background-primary); */
/*   border-top: solid 2px var(--background-primary); */
/*   filter: opacity(50%); */
/* } */


/* }}}2 */

/* tab drag handles {{{2 */

/* }}}2 */

.view-header-breadcrumb,
.view-header-title-parent,
.view-header-title,
.view-header-icon,
.view-action,
.view-header-nav-buttons .clickable-icon
{
  color: var(--text-faint) !important;
}
.workspace-leaf.mod-active .view-header-breadcrumb,
.workspace-leaf.mod-active .view-header-title-parent,
.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active .view-header-icon,
.view-action,
.view-header-nav-buttons .clickable-icon
{
  color: var(--text-faint) !important;
  font-weight: bold;
}

.workspace-leaf-resize-handle
{
    border: none !important;
    background:  var(--text-muted);
    width: 2px !important;
    opacity: 0.4;
    /* visibility: hidden; */
    /* border: solid 2px var(--arroyo-accent-major); */
}

/* .nav-header, */
/* .workspace-tabs .workspace-tab-header-container { */
/*   border: solid 1px red; */
/*   background: var(--arroyo-frame-accent-bg); */
/* } */

/* .workspace-tabs.mod-top .workspace-tab-header-container { */
/*   border: solid 1px red; */
/*   background: var(--background-secondary); */
/* } */



/* }}}2 */

/* settings modal dialog {{{2 */

/* .vertical-tab-header { */
/*     /1* background: #303030; *1/ */
/* } */

/* .vertical-tab-header-group-title { */
/*     /1* background: var(--background-secondary); *1/ */
/*     color: #ffddbb; */
/*     color: #ddbb99; */
/*     /1* color: #eeeedd; *1/ */
/*     font-weight: bold; */
/*     border: solid 1px red !important; */
/* } */

/* .vertical-tab-header-group-items { */
/*     /1* background: var(--background-secondary); *1/ */
/*     color: #ddbb99; */
/*     /1* color: #ffddbb; *1/ */
/*     color: #d0c8b8; */
/*     /1* color: #ddbb99; *1/ */
/* } */

/* .vertical-tab-content { */
/*     background: var(--background-secondary); */
/* } */

/* .setting-item-name { */
/*     /1* color: #00000055; *1/ */
/*     color: var(--background-secondary); */
/*     font-weight: bold; */
/* } */

/* .setting-item-description { */
/*     color: var(--text-muted); */
/* } */


/* .setting-item-control button { */
/*     background: var(--background-primary); */
/*     color: var(--text-normal); */
/* } */

/* left sidebar of settings modal dialog */

/* .theme-light .vertical-tab-header { */
/*     border: solid 5px #ffff00 !important; */
/*     color: var(--text-muted); */
/* } */
/* .theme-light .vertical-tab-header-group-title { */
/*     border: solid 5px #ffff00 !important; */
/*     color: var(--background-secondary); */
/*     background: var(--background-primary); */
/*     border-radius: 20px; */
/*     text-align: center; */
/*     padding: 4px; */
/*     margin-bottom: 5px; */
/*     margin-top: 0px; */
/* } */
/* .vertical-tab-header-group-items { */
/* } */

/* .vertical-tab-content { */
/* } */

/* .theme-light .setting-item-name { */
/*     color: var(--background-secondary) !important; */
/* } */

/* .theme-light .setting-item-description { */
/*     color: var(--text-normal); */
/*     font-style: italic; */
/* } */

/* .theme-light .setting-item-control button { */
/*     background: var(--background-secondary); */
/*     color: var(--text-muted); */
/* } */

/* }}}2 */

/* these menu dialogs are built differently  {{{2 */

/* theme manager/ browser */
/* .theme-light .community-modal-controls .setting-item-name { */
/*     color: var(--text-muted) !important; */
/* } */

/* /1* plugin browser *1/ */
/* .community-item * { */
/*     color: var(--background-secondary) !important; */
/* } */

/* .community-item-author, */
/* .community-item-downloads, */
/* .community-item-updated { */
/*     font-style: italic; */
/* } */

/* }}}2 */

/* Popup menus {{{2 */

.menu {
    border: solid 4px #4896cc44;
    /* background: #224048cc; */
    color: white;
}
/* }}}2 */

/* tables {{{ */
.markdown-rendered tbody tr:nth-child(even)
{
    background-color: var(--table-row-even-background) !important;
}

.markdown-rendered tbody tr:nth-child(odd)
{
    background-color: var(--table-row-odd-background) !important;
}

/* }}} */

/* Dataview fields {{{ */

span.dataview.inline-field {
    border-radius: 10px !important;
    border: solid 1px black;
}
span.dataview.inline-field-key {
    background: #00999988 !important;
    border-radius: 10px 0 0 10px;
    border-right: solid 1px black;
    font-weight: bold;
}
span.dataview.inline-field-value {
    background: #eeeedd66 !important;
    border-radius: 0px 10px 10px 0;
}

.metadata-property[data-property-key="date"] > .metadata-property-value {
}

/* }}} */

/* }}}1 */

/* color scratchpad {{{1

** Beige/Tan/Brown/Red

#ccc6bd
#c8c1b7
#bfb7ab
#aaa090
#999080;
#8a8070
#746c64
#646060
#514a3e
#484032
#453f35
#323030
#2e2a23
#1b1b20

** Slate/Blue

#3d372f
#404850
#606c78
#808d9a
#909ba7
#a0a9b3

}}}1 */

/* Plugins {{{1 */

/* Periodic Notes {{{2 */
.timeline-container .leaf-periodic-button {
    background: white !important;
}
.is-selected .timeline-day-of-week {
    background: white !important;
}
.is-selected .timeline-day {
    background: white !important;
}
/* }}}2 */

/* }}}1 */

/* Links {{{1 */

/* Links */
/* Link, View Mode */
a {
    /* font-weight: bold; */
    font-size: 90%;
}


/* Internal Link, Entire, Source Mode */
.cm-formatting-link,
/* Markdown Link, Entire, Source Mode */
.cm-link {
    font-weight: bold;
    font-size: 90%;
}


.theme-light .cm-formatting-link-start,
.theme-light .cm-link-alias-pipe,
.theme-light .cm-formatting-link-end
{
    /* font-weight: bold; */
    /* color: #00004444 !important; */
    /* /1* color: #008844ff !important; *1/ */
    /* color: #00442266 !important; */
}

.theme-dark .cm-formatting-link-start,
.theme-dark .cm-link-alias-pipe,
.theme-dark .cm-formatting-link-end
{
    /* font-weight: bold; */
    /* color: #ccccff88 !important; */
}

/* Internal Link URL */
.cm-hmd-internal-link:not(.cm-link-alias):not(.cm-link-alias-pipe),
/* Markdown Link URL */
.cm-url {
    color: var(--code-normal);
    background: var(--code-background);
}

/* Internal Link Display Alias */
.cm-link-alias,
/* Markdown Link Display/Alias */
.cm-hmd-barelink {
}

/* code editor HTML codes and tags */
.cm-tag,
.cm-attribute,
.cm-string,
.cm-bracket {
    /* background: #ffffff33; */
    /* font-style: monospace; */
}

/* .cm-hr { */
/*     display: block; */
/*     color: #00440055; */
/*     background-color: var(--background-secondary); */
/*     color: #ffffff; */
/*     opacity: 50%; */
/*     padding-top: 0px; */
/*     padding-bottom: 0px; */
/*     padding-left: 10px; */
/*     padding-right: 0px; */
/*     /1* line-height: 0.8; *1/ */
/*     border-radius: 10px; */
/* } */

/* backlinks  (bottom of page) */

.workspace-tab-container .workspace-leaf-content .tree-item-inner {
}

.backlink-pane .tree-item-inner {
}

.backlink-pane .tree-item-self:hover {
    /* background-color: initial !important; */
    background-color: #00000088;
    color: initial !important;
    /* color: #00000088 !important; */
    /* border: solid #00000088 1px; */
}

/* side panel  (bottom of page) */


/* }}}1 */

/* Status bar {{{ */
.status-bar {
    border-radius: 0;
}
/* }}} */

/*
 * Source view general lines {{{
 */
.cm-line {
    /* line-height: 1.5em !important; */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    word-break: keep-all;
}

/* }}} */

/*
 * Distinguish between different modes {{{
 */

/* Reading mode */
.theme-dark .markdown-preview-view
{
    /* background: #00000020 !important; */
    /* filter: contrast(120%); */
}
.theme-light .markdown-preview-view
{
    /* filter: contrast(120%); */
}

/* Source and live preview */
.markdown-source-view
{
    /* background: #ffffff48 !important; */
    /* --primary-background: #ffffff48 !important; */
    /* border: dashed 2px var(--background-secondary) !important; */
    /* border: solid 1px var(--background-secondary) !important; */
    margin-right: 0.5rem;
}

/* Live preview only */
.is-live-preview
{
    /* background: #00000024 !important; */
    /* background: #ffffff20 !important; */
    /* border: dashed 1px var(--arroyo-accent-major) !important; */
    /* background: #ffffff20 !important; */
    /* border: solid 1px var(--arroyo-accent-major) !important; */
    box-shadow: 0 0 2.5rem rgba(0,0,0,0.9) inset;
    border-radius: 2.5rem;
}

/* }}} */

/*
 * Code {{{
 */

/* https://docs.obsidian.md/Reference/CSS+variables/Editor/Code */
/* --code-normal:                   var(--arroyo-light-code-fg); */
/* --code-background:               var(--arroyo-light-code-bg); */

.markdown-rendered pre,
pre
{
    padding: 1rem;
}

pre code,
.markdown-rendered code,
.markdown-rendered pre code,
code[class*= "language-"]
{
    padding: 0.25rem;
}



.theme-light .HyperMD-codeblock-begin /* Source mode */
.theme-light pre /* Rendered/reading mode */
{
    /* border-radius: 1rem !important; */
}


HyperMD-codeblock.cm-line {
}

.cm-hmd-codeblock {
    /* line-height: 1.2em !important; */
    /* padding-top: 0 !important; */
    /* padding-bottom: 0 !important; */
    /* line-height: normal !important; */
}

.cm-math /* entire container */
{
    /* color: #006000 !important; */
    color: #886666 !important;
    font-weight: bold;
}

.cm-formatting-math /* dollar signs */
{
    color: #990000 !important;
    font-weight: bold !important;
}


/* }}} */

/*
 * UI Tabs {{{
 */

/* All tab headers, stacked or unstacked, sidebar or otherwise {{{ */

.workspace-tab-header {
    /* Remove thin border framing stacked tabs */
    box-shadow: none !important;
}

.workspace-tab-header-inner,
.workspace-tab-header-inner .svg-icon
{
    color: var(--arroyo-accent-major);
}

.workspace-tab-header-inner-title {
    font-weight: 600 !important;
    font-size: 0.7rem !important;
}

/* }}} */

/* Sidebar without non-stacked tabs {{{ */
.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
    border: solid 2px var(--arroyo-accent-major);
}
.mod-left-split .workspace-tab-header,
.mod-left-split .workspace-tab-header-inner,
.mod-left-split .workspace-tab-header-inner .svg-icon,
.mod-left-split .workspace-tab-header-inner-title,
.mod-right-split .workspace-tab-header,
.mod-right-split .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header-inner .svg-icon,
.mod-right-split .workspace-tab-header-inner-title
{
    /* color: var(--arroyo-accent-major); */
    /* stroke-width: 3px; */
}
.mod-left-split .is-active .workspace-tab-header,
.mod-right-split .is-active .workspace-tab-header {
}

.mod-left-split .is-active .workspace-tab-header-inner,
.mod-right-split .is-active .workspace-tab-header-inner {
    border-bottom: solid 2px var(--arroyo-accent-major);
}

.mod-left-split .is-active .workspace-tab-header-inner .svg-icon,
.mod-right-split .is-active .workspace-tab-header-inner .svg-icon {
}

.mod-left-split .is-active .workspace-tab-header-inner-title,
.mod-right-split .is-active .workspace-tab-header-inner-title
{
    color: var(--background-primary);
}

/* }}} */

/* Stacked and non-stacked tab headers *excluding* sidebar {{{ */

/* :not(.mod-right-split) .workspace-tab-header-container-inner .workspace-tab-header, */
/* :not(.mod-right-split) .workspace-tab-header-container-inner .workspace-tab-header .svg-icon, */
/* :not(.mod-right-split) .workspace-tab-header-container-inner .workspace-tab-header-inner-title */
:not(.mod-right-split).workspace-tab-header.is-active
{
    border-bottom: none;
}

/* }}} */

/* Unstacked tabs  {{{ */

.workspace-tab-header {
    background: var(--background-secondary-alt);
    border: none;
    border: 1px solid var(--arroyo-accent-major);
    /* background: red !important; */
}
.workspace-tab-header .workspace-tab-header-inner {
    border: none;
    background: var(--background-secondary-alt);
    color: var(--arroyo-accent-major);
}

.workspace-tab-header.is-active {
}
.workspace-tab-header.is-active,
.is-active .workspace-tab-header-inner-title {
}

.workspace-tab-header.is-active .workspace-tab-header-inner,
.workspace-tab-header.is-active .workspace-tab-header-inner .svg-icon,
.workspace-tab-header.is-active .workspace-tab-header-inner-title,
.is-focused .workspace-tab-header.is-active .workspace-tab-header-inner,
.is-focused .workspace-tab-header.is-active .workspace-tab-header-inner .svg-icon,
.is-focused .workspace-tab-header.is-active .workspace-tab-header-inner-title
{
    /* background: var(--arroyo-accent-major) !important; */
    /* color: var(--background-primary); */
    background: var(--background-primary);
    color: var(--arroyo-accent-major) !important;
}


/* }}} */

/* Stacked tabs (only) {{{ */

.workspace-tab-container .workspace-tab-header {
    color: var(--background-primary);
    border: none;
    border-left: solid 0.5px var(--arroyo-accent-major);
    border-right: solid 0.5px var(--arroyo-accent-major);
    width: 24px !important;
}
.workspace-tab-container .workspace-tab-header-inner {
}
.workspace-tab-container .workspace-tab-header.is-active {
}
.workspace-tab-container .workspace-tab-header.is-active {
    /* border: solid 1px red; */
}
.workspace-tab-container .is-active .workspace-tab-header-inner-title {
    /* color: var(--background-primary); */
}

.workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner,
.workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner .svg-icon,
.workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner-title,
.is-focused .workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner,
.is-focused .workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner .svg-icon,
.is-focused .workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner-title,
.workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner,
.workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner .svg-icon,
.workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner-title,
.is-focused .workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner,
.is-focused .workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner .svg-icon,
.is-focused .workspace-tab-container .workspace-tab-header.is-active .workspace-tab-header-inner-title
{
    background: var(--arroyo-accent-major) !important;
    color: var(--background-primary) !important;
    font-weight: bold !important;
}


/* }}} */

/* Various hovers, actives and other interaction state dynamics {{{ */

.workspace-tab-container .workspace-tab-header:hover
{
    background-color: var(--background-secondary) !important;
}


/* }}} */

/* }}} */

/*
 * Callouts {{{
 */

.callout {
    --callout-color: 40, 20, 20;
    /* line-height: 1.5rem; */
    margin: 0;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.6rem;
    border: solid 0.5px var(--arroyo-accent-major);
}

.callout {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1rem;
}

.callout-title {
    padding-bottom: 0.5rem;
    border-bottom: solid 2px var(--arroyo-accent-major);
    font-weight: 750;
    font-size: 1rem;
    color: var(--arroyo-accent-major);
}

.callout-icon .svg-icon {
    color: var(--arroyo-accent-major);
}
.callout-title-inner {
    color: var(--arroyo-accent-major);
}

.callout-title-inner a.internal-link,
.callout-title-inner a,
.callout-title-inner a.internal-link:hover,
.callout-title-inner a:hover
{
}
.callout-content {
    padding: 0.8rem;
}

/* }}} */

/*
 * Side dock {{{
 */

.side-dock-actions {
    border: solid 2px var(--arroyo-accent-major);
    border-radius: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* }}} */

/*
 * Ribbon {{{
 */

.workspace-ribbon .svg-icon {
    stroke-width: 2px;
}

/* }}} */

/*
 * Folder shades {{{
 */
.nav-files-container
.tree-item
.nav-folder
.nav-folder-title
.collapse-icon
.svg-icon
{
    /* --folder-shades-color-01-fg: var(--arroyo-accent-major); */
    /* --folder-shades-color-02-fg: var(--arroyo-accent-minor) ; */
    /* --folder-shades-color-01-fg: white; */
    /* --folder-shades-color-02-fg: white; */
    color: var(--arroyo-accent-minor) !important;
    filter: brightness(300%);
}

.nav-folder:not(.mod-root) .nav-folder-title-content::before {
  display: inline-block;
  content: "🖿";
  margin-right: 5px;
  vertical-align: text-bottom;
  height: 15px;
  width: 15px;
}

.nav-file:not(.mod-root) .nav-file-title-content::before {
  display: inline-block;
  content: "☰";
  margin-left: 2px;
  margin-right: 3px;
  vertical-align: text-bottom;
  height: 15px;
  width: 15px;
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-title {
    margin-top: 4px;
    background-color: #00000066;
    /* color: #000000; */
    border: solid 1px #204040;

}

.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-children {
    /* margin-top: 4px; */
    background-color: #00000044;
}

/* }}} */

/*
 * Standard Body Elements {{{
 */

h1, h2, h3, h4, h5, h6,
.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6 {
    font-variant: normal !important;
}

/* h1:before { */
/*     content: '⫼'     "\0000a0"; */
/* } */
/* h1:after { */
/*     content: "\0000a0" '⫼'; */
/* } */
h2:before {
    content: '⫼⫼'     "\0000a0";
}
h3:before {
    content: '⫼⫼⫼'    "\0000a0";
}
h4:before {
    content: '⫼⫼⫼⫼'   "\0000a0";
    /* content: '≣≣≣'   "\0000a0"; */
}
h5:before {
    content: '⫼⫼⫼⫼⫼'  "\0000a0";
}
h6:before {
    content: '⫼⫼⫼⫼⫼⫼' "\0000a0";
}

/* .markdown-preview-view h1, */
/* .cm-header-1, */
/* h1 { */
/*     text-align: center !important; */
/*     font-variant: small-caps !important; */
/*     text-transform: capitalize; */
/*     font-size: 1em !important; */
/* } */

/* .markdown-preview-view h2, */
/* .cm-header-2, */
/* h2 { */
/*     font-size: 0.8em !important; */
/*     border-bottom: solid 1px !important; */
/*     border-top: solid 3px !important; */
/*     padding-top: 4px; */
/*     padding-bottom: 2px; */
/*     /1* /2* color: #aa8880 !important; *2/ *1/ */
/*     /1* color: #aaa080 !important; *1/ */
/*     /1* color: #aa8880 !important; *1/ */
/*     /1* color: #B21B2E !important; *1/ */
/*     /1* color: #00A86b !important; *1/ */
/*     /1* color: #6C3082 !important; *1/ */
/*     /1* color: #CC5500 !important; *1/ */
/* } */

/* .markdown-preview-view h3, .cm-header-3, */
/* h3 { */
/*     font-size: 0.8em !important; */
/*     border-top: solid 1px !important; */
/*     border-bottom: solid 1px !important; */
/*     /1* border-inline: 2px dotted; *1/ */
/*     /1* text-decoration-line: underline overline; *1/ */
/*     /1* margin-top: 12px; *1/ */
/*     padding-top: 4px; */
/*     padding-bottom: 2px; */
/*     /1* color: #CC5500 !important; *1/ */
/* } */

/* .markdown-preview-view h4, .cm-header-4, */
/* h4 { */
/*     font-size: 0.8em !important; */
/*     font-variant: normal !important; */
/*     padding-top: 4px; */
/*     padding-bottom: 1px; */
/*     border-top: dashed 1px !important; */
/*     border-bottom: dashed 1px !important; */
/* } */

/* .markdown-preview-view h5, .cm-header-5, */
/* h5 { */
/*     font-size: 0.8em !important; */
/*     font-variant: normal !important; */
/*     padding-top: 4px; */
/*     padding-bottom: 1px; */
/*     border-top: dashed 1px !important; */
/*     border-bottom: dashed 1px !important; */
/* } */

/* .markdown-preview-view h6, .cm-header-6, */
/* h6 { */
/*     font-size: 0.8em !important; */
/*     font-variant: normal !important; */
/*     padding-top: 4px; */
/*     padding-bottom: 1px; */
/*     border-top: dashed 1px !important; */
/*     border-bottom: dashed 1px !important; */
/* } */

/* ----------------------------------------------------- */
/* --------------------- WORKSPACE --------------------- */
/* ----------------------------------------------------- */

/* VERTICAL DIVIDERS */

.is-hidden-frameless {
	--divider-vertical-height: 100% - var(--header-height);
}

.workspace-leaf-resize-handle {
	top: var(--header-height) !important;
}

/* SPLIT WINDOWS */

.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
	border-bottom-width: 0px;
}

/* RIGHT SIDEBAR BUTTON */

.mod-macos.is-hidden-frameless:not(.is-popout-window) .sidebar-toggle-button.mod-right {
	background-color: var(--background-secondary);
	position: fixed;
	top: 0;
	right: 0;
	padding-right: var(--size-4-2);
	z-index: var(--layer-popover);
	border-top: 0px var(--modal-border-color) solid;
}

/* LIGHT MODE */

.theme-light .mod-root .workspace-tab-header-container-inner {
	padding: 1px 15px 0;
  }

.theme-light .workspace-tab-header-container {
	background-color: var(--background-secondary);
	border-top-width: 0px;
}

/* DARK MODE */

.theme-dark .mod-root .workspace-tab-header-container-inner {
	padding: 1px 15px 0;
  }

.theme-dark .workspace-tab-header-container {
	background-color: var(--dark-grey-1);
	border-top-width: 0px;
}

/* .workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after { */
/* 	display: none; */
/* } */

